# anything tmp
tmp/*
*.tmp

# vi swp files
.*.swp

# ignore the postgres data files
data/db/pgdata

# notebooks working files
.bash_history
notebooks/.local/*
**/.ipynb_checkpoints/*
**/.ipython/*
**/.jupyter/*

# the postgresql database files
data/postgresql/data/*
